body {
   margin: 0;
   background-color: rgb(216, 236, 255);
}
.widget-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap: 40px;
   font-family: "Karla", sans-serif;
   padding-top: 20px;
}

.weather_widget {
   width: 400px;
   height: 300px;
   background-color: white;
   border-radius: 8px;
   text-align: center;
   padding: 20px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
   background-color: rgb(216, 236, 255);
   padding: 0px;
   text-align: center;
   border-bottom: 2px solid rgb(130, 130, 130);
   font-family: "Arvo", sans-serif;
}

.icon {
   width: 130px;
}

.source {
   font-family: "Karla", sans-serif;
   text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding:0;
  width:60px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: rgb(255, 242, 142);
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}

/* Show tooltip on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.moreinfo {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: 15px
}